insert into head tag of website another link to css file- i.e. this one
or just change css through jquery- through body tag


#picker {
	margin:0;
	padding:0;
	border:0;
	width:70px;
	height:20px;
	border-right:20px solid green;
	line-height:20px;
}
