#picker {
	margin:0;
	padding:0px 0px 200px 0px;
	border:0;
	width:70px;
	height:20px;
	border-right:20px;
	line-height:20px;
}

body {
		background-image: url("/images/subtle_white_feathers.png");
    background-color: whitesmoke;
}

h3, h5 {
    color: black;
    margin-left: 0px;
	  padding: 0px 0px 0px 0px;
    margin: 0px;
}

h6 {
		color: black;
		font-size: 8px;
		margin-left: 0px;
		padding: 0px 0px 0px 0px;
		margin: 0px;
}

#pickerback {
	margin:0;
	padding:0px 0px 200px 0px;
	border:0;
	width:70px;
	height:20px;
	border-right:20px;
	line-height:20px;
}

#id2{
		color: #006;
}
